.home-content {
  width: 80%;
  margin: auto;
}

.logo-home {
  width: 500px;
  height: auto;
}

.homepage {
  background-color: #074243;
  width: 100vw;
  height: 100vh;

  .btn {
    width: 100px;
    background-color: rgb(90, 141, 230);
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 25vh;
    right: 20vw;

    &:hover {
      background-color: aqua;
      color: darkblue;
      box-shadow: 0 0 10px 10px aliceblue;
    }
  }
}

.homepage__title {
  font-family: 'Unna';
  font-size: 170px;
  font-weight: 500;
  color: white;
  transform: scale(1, 1.3);
  padding-top: 20px;
  padding-left: 20px;
}
