.recipes-content {
  width: 80%;
  margin: auto;
}

.top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px 0;
}

.search-area {
  width: 30vw;
  background-color: $secondary-color;
}

.tabs {
  display: flex;
  cursor: pointer;

  h3 {
    width: 100%;
    margin: auto;
    padding: 15px 15px;
    text-align: center;
  }
}

.disabled {
  color: darkgray;
  background-color: lightgray;
}

.recipe-search,
.search-by-ing {
  padding: 30px;
  text-align: center;
}

.recipe-search__field {
  height: 20px;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 3px lightgray;
}

.display-options {
  margin: 15px 0;
  cursor: pointer;
}

.advanced-search {
  display: flex;
  justify-content: space-around;
}

.search-by-ing {
  text-align: center;
}

.dropdown-btn {
  cursor: pointer;
  display: flex;
  align-items: center;

  .bi-chevron-down,
  .bi-chevron-up {
    margin: 0.3em 0 0 0.3em;
  }
}

.dropdown-list {
  position: absolute;
  width: 120px;
  background-color: white;
  z-index: 1;

  li {
    padding: 0.3em 0.5em 0.3em 0.7em;
    overflow: hidden;
    text-align: left;
  }
}

.menu__recipe {
  padding-right: 1.5em;

  p {
    text-align: center;
  }
}

.searched__recipe {
  text-align: center;
}

.small {
  font-weight: 100;
}

.bold {
  font-weight: 500;
}

///////////////////////// MEDIA QUERIES /////////////////////////

@media screen and (min-width: 1200px) {
  .recipes-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 992px) {
  .recipes-list {
    width: 80vw;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .recipe__image {
    display: none;
  }

  .menu__recipe {
    padding-left: 1em;
  }
}
