footer {
  background-color: rgb(106, 106, 155);
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  margin-top: 20vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
